{
    "BIG_DCYCLE": 100,
    "WORKLOAD_DURATION_S": 9,
    "WORKLOAD_PERIOD_MS": 100,
    "MIGRATION_WINDOW": 0.75,
    "EXPECTED_BUSY_TIME_PCT": 99,
    "TEST_CONF": {
        "modules": ["bl", "cpufreq", "cgroups" ],
        "tools": ["rt-app"],
        "ftrace" : {
             "events" : ["sched_switch"],
             "buffsize" : 10240
        },
        "flags" : [ "ftrace" ]
    }
}
