<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.arm.wa.uiauto.motionmark"
    android:versionCode="1"
    android:versionName="1.0">


    <instrumentation
        android:name="android.support.test.runner.AndroidJUnitRunner"
        android:targetPackage="${applicationId}"/>

</manifest>

