*.egg-info
*.pyc
*.bak
*.o
*.cmd
Module.symvers
modules.order
*~
tags
build/
dist/
.ropeproject/
wa_output/
doc/source/api/
doc/source/plugins/
MANIFEST
*.orig
local.properties
pmu_logger.mod.c
.tmp_versions
obj/
libs/armeabi
uiauto/bin/
