*.egg-info
*.pyc
*.bak
*.o
*.cmd
*.iml
Module.symvers
modules.order
*~
tags
build/
dist/
.ropeproject/
wa_output/
doc/source/plugins/
MANIFEST
*.orig
local.properties
pmu_logger.mod.c
.tmp_versions
obj/
libs/armeabi
**/uiauto/**/build/
**/uiauto/**/.gradle
**/uiauto/**/.idea
**/uiauto/**/proguard-rules.pro
**/uiauto/app/libs/
**/uiauto/*.properties
**/uiauto/**/.project
**/uiauto/**/.settings
**/uiauto/**/.classpath
doc/source/developer_information/developer_guide/instrument_method_map.rst
doc/source/run_config/
.eggs
