[submodule "devlib-next"]
	path = libs/devlib
	url = https://github.com/derkling/devlib.git
	branch = devlib-next
[submodule "trappy-lisa"]
	path = libs/trappy
	url = https://github.com/ARM-software/trappy.git
	branch = lisa
[submodule "bart-lisa"]
	path = libs/bart
	url = https://github.com/ARM-software/bart.git
	branch = lisa
