*~
.*
!.gitignore
*.pyc
__pycache__
*.egg-info
/results*
*.log
/tools/android-sdk-linux
*.pid
server.url
/tools/wa_user_directory/dependencies
/src/buildroot
custom_requirements.txt
devmode_extra_requirements.txt
extra_requirements.txt
tools/alpine-chroot-install
cache/
*.o
*.mod
*.ko
*.mod.c
*.order
*.symvers
