# Must be ordered to satisfy the dependencies without pulling from PyPI.
# Once they are found by pip in editable mode as specified here, they will be
# used and not looked up on PyPI.

# devlib before WA and LISA
-e ./external/devlib/

# TRAPpy before BART and LISA
-e ./external/trappy/
# BART before LISA
-e ./external/bart/

# WA before LISA
-e ./external/workload-automation/
-e ./[notebook,doc,test]

-e ./tools/exekall
-e ./tools/bisector
