{
    // Target device (linux|android|host)
    "platform"    : "linux",

    // Board used for the experiments
    "board" : "tc2",
    /* "board" : "juno", */

    // Target IP address or hostname
    // Juno
    /* "host"      : "192.168.0.10", */
    /* "host"      : "00:02:F7:00:5A:5b", */
    // TC2
    /* "host"      : "192.168.0.20", */
    "host"      : "00:02:f7:00:45:e2",

    // RT-App Calibration
    /* "rtapp-calib"   :  {"0": 354, "1": 138, "2": 138, "3": 363, "4": 355, "5": 357}, */

    // Login username (if not root should be sudo enabled)
    "username"  : "root",

    // Login password or keyfile
    "password"  : ""
    /* "keyfile"   : "/complete/path/of/your/keyfile" */

}
