{
    /* Target device (linux|android|host) */
    "platform"    : "linux",

    /* Board used for the experiments */
    // "board" : "juno",
    "board" : "tc2",

    /* Target IP address or hostname */
    // Juno
    // "host"      : "192.168.0.10",
    // "host"      : "00:02:F7:00:5A:5b",
    // TC2
    // "host"      : "192.168.0.20",
    "host"      : "00:02:f7:00:45:e2",

    /* RT-App Calibration */
    // "rtapp-calib"   :  {
    //      "0": 354, "1": 138, "2": 138, "3": 363,
    //      "4": 355, "5": 357
    //      },

    /* Login username (if not root should be sudo enabled) */
    "username"  : "root",

    /* Login credentials: password or keyfile */
    "password"  : "",
    // "keyfile"   : "/complete/path/of/your/keyfile",

    /* FTFP Image server */
    "tftp"  : {
        "folder"    : "/var/lib/tftpboot",
        "kernel"    : "kern.bin",
        "dtb"       : "dtb.bin"
    },

    /* Devlib modules to enabled for all the experiments */
    "modules"  : [ "bl" ],

    /* Binary tools to install by default for all experiments */
    "tools"    : [],

    /* Test environment features */
    //  no-kernel : do not deploy kernel/dtb images
    //  no-reboot : do not force reboot the target at each configuration change
    //  debug     : enable debugging messages
    "__features__" : ""

}
