/* target.config                                                  */
/*                                                                */
/* Configuration file to specify target parameters such as: the   */
/* kind of platform/board, and login credentials.                 */
/*                                                                */
/* NOTE: all commented parameters are optional and report their   */
/*       default value.                                           */

{
    /* Platform */
    /* - linux   : accessed via SSH connection                    */
    /* - android : accessed via ADB connection                    */
    /* - host    : run on the local host                          */
    "platform" : "android",

    /* Board */
    /* Currently supported boards are:                            */
    /*  juno  : target is a JUNO board                            */
    /*  tc2   : target is a TC2 board                             */
    /* Leave commented if your board is not listed above          */
    "board" : "hikey960",

    /* Target IP or MAC address */
    //"host" : "192.168.0.20",

    /* Target Android device ID */
    //"device" : "00b1346f0878ccb1",

    /* Login username (has to be sudo enabled) */
    "username" : "root",

    /* Login credentials */
    /* You can specify either a password or keyfile */
    "password" : "",
    // "keyfile"   : "/complete/path/of/your/keyfile",

    /* RT-App Calibration */
    /* Keep commented to do calibration at first run on a target. */
    /* Then, replace the values with the ones reported for your   */
    /* specific target in the console logging messages            */
     "rtapp-calib" :  {
	  "0": 302, "1": 302, "2": 302, "3": 302, "4": 136, "5": 136, "6": 136, "7": 136
     },
    
    /* Additional ftrace events collected regardless of the test configuration */
     "ftrace": {
        "events": []
     },

    /* Devlib modules to enable/disbale for all the experiments */
    "modules"         : [],
    "exclude_modules" : [],

    /* Binary tools to install by default for all experiments */
    /* Currently available tools:                             */
    /* - binaries under ./tools/<ARCH>/                       */
    /*   where <ARCH> is one of the supported target          */
    /*   architectures                                        */
    /* - shell scripts under './tools/scripts/                */
    "tools"    : [],
}
