{
    /* Devlib modules to enable/disbale for all the experiments */
    "modules"         : [ "cpufreq" ],
    "exclude_modules" : [ ],

    /* Binary tools required by the experiments */
    "tools"    : ["rt-app"],

    /* FTrace events required by the experiments */
    /* NOTE: "ftrace" has to be specified in the "conf" flags to */
    /* enable tracing of ftrace events while workloads are executed */
    "ftrace"    : {
        "events" : [
            // "cpu_idle",
            // "cpu_capacity",
            // "cpu_frequency",
            // "sched_tune_config",
            // "sched_boost_cpu",
            // "sched_boost_task",
            // "sched_wakeup",
            // "sched_wakeup_new",
            // "sched_load_avg_cpu",
            // "sched_load_avg_task",
            // "sched_energy_diff",
            // "sched_contrib_scale_f",
            "sched_switch"
        ],
        "buffsize" : 10240
    },

    /* Set of platform configuraitons to test */
    /* The kernel/dtb specified files will be copied in the corresponding */
    /* TFTP path defined by the target.config file in the root folder */
    "confs" : [
        {
            "tag"               : "noeas",
            "kernel"            : "/opt/git/kernel.org/arch/arm64/boot/Image",
            "dtb"               : "/opt/git/kernel.org/arch/arm64/boot/dts/arm/juno.dtb",
            "sched_features"    : "NO_ENERGY_AWARE",
            "flags"             : "", /* "ftrace" to enable tracing */
            "cpufreq" : {
                "governor"    : "ondemand",
                "params"      : {
                    "sampling_rate" : 20000
                }
            }
        },
        {
            "tag"               : "eas",
            "kernel"            : "/opt/git/kernel.org/arch/arm64/boot/Image",
            "dtb"               : "/opt/git/kernel.org/arch/arm64/boot/dts/arm/juno.dtb",
            "sched_features"    : "ENERGY_AWARE",
            "flags"             : "",  /* "ftrace" to enable tracing */
            "cpufreq" : {
                "governor"  : "ondemand",
                "params"    : {
                    "sampling_rate" : 20000
                }
            }
        }
    ],

    /* Set of workloads to run on each platform configuration */
    "wloads" : {
        "06_pct" : {
            "type": "rt-app",
            "conf" : {
                "class"  : "periodic",
                "params" : {
                    "duty_cycle_pct" :  6,
                    "duration_s"     : 30,
                    "period_ms"      :  2
                },
		"tasks"   : "cpus",
                "prefix"  : "task"
           }
        },
        "13_pct" : {
            "type": "rt-app",
            "conf" : {
                "class"  : "periodic",
                "params" : {
                    "duty_cycle_pct" : 13,
                    "duration_s"     : 30,
                    "period_ms"      :  2
                },
		"tasks"   : "cpus",
                "prefix"  : "task"
            }
        },
        "19_pct" : {
            "type": "rt-app",
            "conf" : {
                "class"  : "periodic",
                "params" : {
                    "duty_cycle_pct" : 19,
                    "duration_s"     : 30,
                    "period_ms"      :  2
                },
		"tasks"   : "cpus",
                "prefix"  : "task"
            }
        },
        "25_pct" : {
            "type": "rt-app",
            "conf" : {
                "class"  : "periodic",
                "params" : {
                    "duty_cycle_pct" : 25,
                    "duration_s"     : 30,
                    "period_ms"      :  2
                },
		"tasks"   : "cpus",
                "prefix"  : "task"
            }
        },
        "31_pct" : {
            "type": "rt-app",
            "conf" : {
                "class"  : "periodic",
                "params" : {
                    "duty_cycle_pct" : 31,
                    "duration_s"     : 30,
                    "period_ms"      :  2
                },
		"tasks"   : "cpus",
                "prefix"  : "task"
            }
        },
        "38_pct" : {
            "type": "rt-app",
            "conf" : {
                "class"  : "periodic",
                "params" : {
                    "duty_cycle_pct" : 38,
                    "duration_s"     : 30,
                    "period_ms"      :  2
                },
		"tasks"   : "cpus",
                "prefix"  : "task"
            }
        },
        "44_pct" : {
            "type": "rt-app",
            "conf" : {
                "class"  : "periodic",
                "params" : {
                    "duty_cycle_pct" : 44,
                    "duration_s"     : 30,
                    "period_ms"      :  2
                },
		"tasks"   : "cpus",
                "prefix"  : "task"
            }
        },
        "50_pct" : {
            "type": "rt-app",
            "conf" : {
                "class"  : "periodic",
                "params" : {
                    "duty_cycle_pct" : 50,
                    "duration_s"     : 30,
                    "period_ms"      :  2
                },
		"tasks"   : "cpus",
                "prefix"  : "task"
            }
        }
    },

    /* Number of iterations for each workload */
    "iterations" : 4,

    /* This must be the last entry */
    "__last__" : ""
}
