
sphinx==8.0.2

# A streamlined version of devmode_requirements.txt for doc building
-e ./tools/exekall

# devlib before WA and LISA
-e ./external/devlib/

# WA before LISA
-e ./external/workload-automation/
-e ./[doc]

-e ./tools/bisector
