{
    "modules"  : [ "bl" ],
    "exclude_modules"  : [ "hwmon" ],
    "tools"    : [ "rt-app" ],
    "ftrace" : {
        "events" : [
            "sched_overutilized",
            "sched_energy_diff",
            "sched_load_avg_task",
            "sched_load_avg_cpu",
            "sched_migrate_task",
            "sched_switch",
            "cpu_frequency",
        ],
    },
    "wloads" : {
        // Create one small task for each CPU
        "wake_migration" : {
            "type" : "rt-app",
            "conf" : {
                "class" : "profile",
                "params" : {
                    "wmig" : {
                        "kind" : "Step",
                        "params" : {
                            "start_pct": 10, // STEP_LOW_DCYCLE
                            "end_pct": 50, // STEP_HIGH_DCYCLE
                            "time_s": 5, // WORKLOAD_DURATION_S
                            "loops": 2
                        },
                        // Create one task for each CPU
                        "tasks" : "big",
                    },
                },
            },
        },
    },
    "confs" : [
        {
            "tag" : "",
            "flags" : "ftrace",
            "sched_features" : "ENERGY_AWARE",
            "cpufreq" : {
                "governor" : "performance"
            }
        }
    ]
}
