{
    "modules"  : [ "bl" ],
    "exclude_modules"  : [ "hwmon" ],
    "tools"    : [ "rt-app" ],
    "ftrace" : {
        "events" : [
            "sched_overutilized",
            "sched_energy_diff",
            "sched_load_avg_task",
            "sched_load_avg_cpu",
            "sched_migrate_task",
            "sched_switch"
        ],
    },
    "wloads" : {
        "early_and_migrators" : {
            "type" : "rt-app",
            "conf" : {
                "class" : "profile",
                "params" : {
                    "early" : {
                        "kind" : "Periodic",
                        "params" : {
                            "duty_cycle_pct": 100,
                            "duration_s": 5,
                            "period_ms": 10,
                        },
                        // Create one task for each big CPU
                        "tasks" : "big",
                    },
                    "migrator" : {
                        "kind" : "Periodic",
                        "params" : {
                            "duty_cycle_pct": 100,
                            "duration_s": 5,
                            "period_ms": 10,
                            "delay_s": 1
                        },
                        // Create one task for each big CPU
                        "tasks" : "big",
                    },
                },
            },
        },
    },
    "confs" : [
        {
            "tag" : "",
            "flags" : "ftrace",
            "sched_features" : "ENERGY_AWARE",
            "cpufreq" : {
                "governor" : "performance"
            }
        }
    ]
}
