{
    "modules"  : [ "bl" ],
    "exclude_modules"  : [ "hwmon" ],
    "tools"    : [ "rt-app" ],
    "ftrace" : {
        "events" : [
            "sched_overutilized",
            "sched_energy_diff",
            "sched_load_avg_task",
            "sched_load_avg_cpu",
            "sched_migrate_task",
            "sched_switch"
        ],
    },
    "wloads" : {
        // Create one small task for each CPU
        "small_tasks" : {
            "type" : "rt-app",
            "conf" : {
                "class" : "periodic",
                "params" : {
                    "duty_cycle_pct": 10,
                    "duration_s": 5,
                    "period_ms": 10,
                },
                // Create one task for each CPU
                "tasks" : "cpus",
                "prefix" : "stp"
            },
        },
    },
    "confs" : [
        {
            "tag" : "",
            "flags" : "ftrace",
            "sched_features" : "ENERGY_AWARE",
            "cpufreq" : {
                "governor" : "performance"
            }
        }
    ]
}
