{
    "WORKLOAD_DURATION_S" : 5,
    "WORKLOAD_PERIOD_MS" :  10,
    "SWITCH_WINDOW_HALF" : 0.5,
    "ENABLE_EAS" : true,
    "SMALL_DCYCLE" : 10,
    "BIG_DCYCLE": 100,
    "STEP_LOW_DCYCLE" : 10,
    "STEP_HIGH_DCYCLE" : 50,
    "EXPECTED_RESIDENCY_PCT" : 85,
    "OFFLOAD_MIGRATION_MIGRATOR_DELAY": 1,
    "OFFLOAD_EXPECTED_BUSY_TIME_PCT": 97,
    "SET_IS_BIG_LITTLE": true,
    "SET_INITIAL_TASK_UTIL": true,
    "TEST_CONF" : {
        "modules"  : [ "bl", "cpufreq" ],
        "tools"    : [ "rt-app" ],
        "ftrace" : {
             "events" : [
                 "sched_energy_diff",
                 "sched_load_avg_task",
                 "sched_load_avg_cpu",
                 "sched_migrate_task",
                 "sched_switch"
             ],
             "buffsize" : 10240
        }
    }
}
