{
    "modules"  : [ "bl" ],
    "exclude_modules"  : [ "hwmon" ],
    "tools"    : [ "rt-app" ],
    "ftrace" : {
        "events" : [
            "sched_overutilized",
            "sched_energy_diff",
            "sched_load_avg_task",
            "sched_load_avg_cpu",
            "sched_migrate_task",
            "sched_switch"
        ],
    },
    "wloads" : {
        // Create N 100% tasks and M 10% tasks which run in parallel, where N is
        // the number of big CPUs and M is the number of LITTLE CPUs.
        "fmig" : {
            "type" : "rt-app",
            "conf" : {
                "class" : "profile",
                "params" : {
                    "small" : {
                        "kind" : "Periodic",
                        "params" : {
                            "duty_cycle_pct": 10,
                            "duration_s": 5,
                            "period_ms": 10,
                        },
                        "prefix" : "small"
                    },
                    "big" : {
                        "kind" : "Periodic",
                        "params" : {
                            "duty_cycle_pct": 100,
                            "duration_s" : 5,
                            "period_ms": 10
                        },
                        "prefix" : "large",
                    },
                },
            },
        },
    },
    "confs" : [
        {
            "tag" : "",
            "flags" : "ftrace",
            "sched_features" : "ENERGY_AWARE",
            "cpufreq" : {
                "governor" : "performance"
            }
        }
    ]
}
