{
    "TEST_CONF": {
        "ftrace": {
            "buffsize": 10240, 
            "events": [
                "sched_switch", 
                "sched_load_avg_cpu", 
                "cpu_frequency", 
                "cpu_capacity"
            ]
        }, 
        "modules": ["bl", "cpufreq"],
        "results_dir": "BasicCheck", 
        "rtapp-calib": {
            "0": 320, 
            "1": 125, 
            "2": 125, 
            "3": 318, 
            "4": 326, 
            "5": 326
        }, 
        "tools": [
            "sysbench", 
            "rt-app", 
            "trace-cmd", 
            "taskset", 
            "perf", 
            "cgroup_run_into.sh"
        ]
    }
}
