{
    "modules"  : [ "bl" ],
    "tools"    : [ "rt-app" ],
    "ftrace" : { // TODO make these inherited
        "events" : [
            "sched_energy_diff",
            "sched_load_avg_task",
            "sched_load_avg_cpu",
            "sched_migrate_task",
            "sched_switch"
        ],
    },
    "wloads" : {
        //
        "early_and_migrators" : {
            "type" : "rt-app",
            "conf" : {
                "class" : "profile",
                "params" : {
                    "early" : {
                        "kind" : "Periodic",
                        "params" : {
                            "duty_cycle_pct": 100,
                            "duration_s": 5,
                            "period_ms": 10,
                        },
                        "tasks" : "big", // Create one task for each big CPU
                    },
                    "migrators" : {
                        "kind" : "Periodic",
                        "params" : {
                            "duty_cycle_pct": 100,
                            "duration_s": 5,
                            "period_ms": 10,
                            "delay_s": 1
                       },
                        "tasks" : "big", // Create one task for each big CPU
                    },
                },
            },
        },
    },
    "confs" : [
        {
            "tag" : "",
            "flags" : "ftrace",
            "sched_features" : "ENERGY_AWARE"
        }
    ]
}
