{

    /* Devlib modules required by the experiments */
    "modules"  : ["cpufreq", "hwmon", "bl"],

    /* Binary tools required by the experiments */
    "tools"    : ["rt-app", "trace-cmd", "taskset", "perf"],

    /* FTrace events required by the experiments */
    /* Coment this section if you do not want to collect FTrace events while
    /* the workload is executed */
    "ftrace"    : {
        "events" : ["sched_switch" ],
        "buffsize" : 10240
    },

    "confs" : [
        {
            "tag"               : "mainline",
            "kernel"            : "images/kernel_mnl.bin",
            "dtb"               : "images/dtb_4l2b.bin",
            "governor"          : "ondemand"
         },
         {
             "tag"               : "noeas",
             "kernel"            : "images/kernel_eas.bin",
             "dtb"               : "images/dtb_4l2b.bin",
             "sched_features"    : "NO_ENERGY_AWARE",
             "governor"          : "ondemand"
        },
        {
            "tag"               : "eas",
            "kernel"            : "images/kernel_eas.bin",
            "dtb"               : "images/dtb_4l2b.bin",
            "sched_features"    : "ENERGY_AWARE",
            "governor"          : "ondemand",
            "cgroup"            : "stune/",
            "boost"             : 10
        },
        {
            "tag"               : "sdvfs",
            "kernel"            : "images/kernel_eas+sdvfs.bin",
            "dtb"               : "images/dtb_4l2b.bin",
            "sched_features"    : "ENERGY_AWARE",
            "governor"          : "sched",
            "cgroup"            : "stune/",
            "boost"             : 10
        }
    ],

    "wloads" : {
        "test1" : {
            "type": "rt-app",
            "conf" : {
                /* Example of "periodic" rt-app profile */
                "class"  : "periodic",

                /* The parameters expected by the specific RT-App class */
                "params" : {
                    "duty_cycle_pct" :  2,
                    "duration_s"     :  1,
                    "period_ms"      : 10
                },

                /* Number of tasks to generate: 	*/
                /* big    : one per each big CPU 	*/
                /* little : one per each little CPU 	*/
                /* cpus   : one per each CPU 		*/
                /* N:     : exactly N 			*/
                "tasks"   : "cpus",

                /* The prefix for the name of each task */
                "prefix"  : "task"
            }
        },
        "test2" : {
            "type": "rt-app",
            "conf" : {
                /* Example of "periodic" rt-app profile */
                "class"  : "periodic",

                /* The parameters expected by the specific RT-App class */
                "params" : {
                    "duty_cycle_pct" : 40,
                    "duration_s"     :  1,
                    "period_ms"      : 10
                },

                /* Number of tasks to generate: 	*/
                /* big    : one per each big CPU 	*/
                /* little : one per each little CPU 	*/
                /* cpus   : one per each CPU 		*/
                /* N:     : exactly N 			*/
                "tasks"   : "little",

                /* The prefix for the name of each task */
                "prefix"  : "task"
            }
        },
        "test3" : {
            "type" : "perf_bench",

            "conf" : {
                /* Example of a "perf bench messaging" workload */
                "class" : "messaging",

                /* The parameters expected by the PerfMessaging class */
                "params" : {
                    "group"     :  1,
                    "loop"      : 10,
                    "pipe"      : "",
                    "thread"    : "",
                    "cpus"      : "",
                    "cgroup"    : ""
                }
            }
        },
        "test4" : {
            "type" : "perf_bench",

            "conf" : {
                /* Example of a "perf bench messaging" workload */
                "class" : "pipe",

                /* The parameters expected by the PerfMessaging class */
                "params" : {
                    "loop"      : 10,
                    "cpus"      : "",
                    "cgroup"    : ""
                }
            }
        }
    },

    /* Number of iterations for each workload */
    "iterations" : 1,

    /* This must be the last entry */
    "__last__" : ""

}
