{
    /* Devlib modules to enable/disbale for all the experiments */
    "modules"         : [ "cpufreq" ],
    "exclude_modules" : [ "hwmon" ],

    /* Binary tools required by the experiments */
    "tools"    : ["rt-app"],

    /* FTrace events required by the experiments */
    /* NOTE: "ftrace" has to be specified in the "conf" flags to */
    /* enable tracing of ftrace events while workloads are executed */
    "ftrace"    : {
        "events" : [
	    "sched_switch",
	    "sched_wakeup",
	    "sched_wakeup_new",
	    "sched_contrib_scale_f",
	    "sched_load_avg_cpu",
	    "sched_load_avg_task",
	    "sched_tune_config",
	    "sched_tune_tasks_update",
	    "sched_tune_boostgroup_update",
	    "sched_tune_filter",
	    "sched_boost_cpu",
	    "sched_boost_task",
	    "sched_energy_diff",
	    "cpu_frequency",
	    "cpu_capacity",
	    "cpu_idle",
        ],
        "buffsize" : 10240
    },

    /* Set of platform configuraitons to test */
    /* The kernel/dtb specified files will be copied in the corresponding */
    /* TFTP path defined by the target.config file in the root folder */
    "confs" : [
        {
            "tag"               : "noeas",
            "kernel"            : "/opt/git/kernel.org/arch/arm64/boot/Image",
            "dtb"               : "/opt/git/kernel.org/arch/arm64/boot/dts/arm/juno.dtb",
            "sched_features"    : "NO_ENERGY_AWARE",
            "flags"             : "", /* "ftrace" to enable tracing */
            "cpufreq" : {
                "governor"    : "ondemand",
                "params"      : {
                    "sampling_rate" : 20000
                }
            }
        },
        {
            "tag"               : "eas",
            "kernel"            : "/opt/git/kernel.org/arch/arm64/boot/Image",
            "dtb"               : "/opt/git/kernel.org/arch/arm64/boot/dts/arm/juno.dtb",
            "sched_features"    : "ENERGY_AWARE",
            "flags"             : "",  /* "ftrace" to enable tracing */
            "cpufreq" : {
                "governor"  : "ondemand",
                "params"    : {
                    "sampling_rate" : 20000
                }
            }
        }
    ],

    /* Set of workloads to run on each platform configuration */
    "wloads" : {
        "10_pct" : {
            "type": "rt-app",
            "conf" : {
                "class"  : "periodic",
                "params" : {
                    "duty_cycle_pct" :  10,
                    "duration_s"     : 30,
                    "period_ms"      :  2
                },
		"tasks"   : "cpus",
                "prefix"  : "rt-app-task"
           }
        },
/*
        "20_pct" : {
            "type": "rt-app",
            "conf" : {
                "class"  : "periodic",
                "params" : {
                    "duty_cycle_pct" : 20,
                    "duration_s"     : 30,
                    "period_ms"      :  2
                },
		"tasks"   : "cpus",
                "prefix"  : "rt-app-task"
            }
        },
        "40_pct" : {
            "type": "rt-app",
            "conf" : {
                "class"  : "periodic",
                "params" : {
                    "duty_cycle_pct" : 40,
                    "duration_s"     : 30,
                    "period_ms"      :  2
                },
		"tasks"   : "cpus",
                "prefix"  : "rt-app-task"
            }
        },
        "60_pct" : {
            "type": "rt-app",
            "conf" : {
                "class"  : "periodic",
                "params" : {
                    "duty_cycle_pct" : 60,
                    "duration_s"     : 30,
                    "period_ms"      :  2
                },
		"tasks"   : "cpus",
                "prefix"  : "rt-app-task"
            }
        },
        "70_pct" : {
            "type": "rt-app",
            "conf" : {
                "class"  : "periodic",
                "params" : {
                    "duty_cycle_pct" : 70,
                    "duration_s"     : 30,
                    "period_ms"      :  2
                },
		"tasks"   : "cpus",
                "prefix"  : "rt-app-task"
            }
        },
        "80_pct" : {
            "type": "rt-app",
            "conf" : {
                "class"  : "periodic",
                "params" : {
                    "duty_cycle_pct" : 80,
                    "duration_s"     : 30,
                    "period_ms"      :  2
                },
		"tasks"   : "cpus",
                "prefix"  : "rt-app-task"
            }
        },
        "90_pct" : {
            "type": "rt-app",
            "conf" : {
                "class"  : "periodic",
                "params" : {
                    "duty_cycle_pct" : 90,
                    "duration_s"     : 30,
                    "period_ms"      :  2
                },
		"tasks"   : "cpus",
                "prefix"  : "rt-app-task"
            }
        },
        "100_pct" : {
            "type": "rt-app",
            "conf" : {
                "class"  : "periodic",
                "params" : {
                    "duty_cycle_pct" : 100,
                    "duration_s"     : 30,
                    "period_ms"      :  2
                },
		"tasks"   : "cpus",
                "prefix"  : "rt-app-task"
            }
        }
*/
    },

    /* Number of iterations for each workload */
    "iterations" : 1,

    /* This must be the last entry */
    "__last__" : ""
}
