{
    // Devlib modules required by the experiments
    /* "modules"  : ["cpufreq", "hotplug"], */
    "modules"  : ["cpufreq", "hwmon"],

    // Binary tools required by the experiments
    "tools"    : ["rt-app", "trace-cmd", "taskset"],

    // FTrace events required by the experiments
    "ftrace"    : {
        "events" : ["sched_switch" ],
        "buffsize" : 10240
    },

    "confs" : [
//        {
//            "tag"               : "mainline",
//            "kernel"            : "images/kern_mnl.bin",
//            "dtb"               : "images/dtb.bin",
//            "governor"          : "ondemand"
//        },
//        {
//            "tag"               : "no-eas",
//            "kernel"            : "images/kern_eas.bin",
//            "dtb"               : "images/dtb.bin",
//            "sched_features"    : "NO_ENERGY_AWARE",
//            "governor"          : "ondemand"
//        },
//        {
//            "tag"               : "eas",
//            "kernel"            : "images/kern_eas.bin",
//            "dtb"               : "images/dtb.bin",
//            "sched_features"    : "ENERGY_AWARE",
//            "governor"          : "ondemand",
//            "cgroup"            : "stune/",
//            "boost"             : 10
//        },
//        {
//            "tag"               : "sdvfs",
//            "kernel"            : "images/kern_eas+sdvfs.bin",
//            "dtb"               : "images/dtb.bin",
//            "sched_features"    : "ENERGY_AWARE",
//            "governor"          : "sched",
//            "cgroup"            : "stune/",
//            "boost"             : 10
//        },
//        {
//            "tag"               : "stune0",
//            "kernel"            : "images/kern_eas+sdvfs.bin",
//            "dtb"               : "images/dtb.bin",
//            "sched_features"    : "ENERGY_AWARE",
//            "governor"          : "sched",
//            "cgroup"            : "stune/",
//            "boost"             : 0
//        },
//        {
//            "tag"               : "stune10",
//            "kernel"            : "images/kern_eas+sdvfs.bin",
//            "dtb"               : "images/dtb.bin",
//            "sched_features"    : "ENERGY_AWARE",
//            "governor"          : "sched",
//            "cgroup"            : "stune/",
//            "boost"             : 10
//        },
        {
            "tag"               : "stune60",
            "kernel"            : "images/kern_eas+sdvfs.bin",
            "dtb"               : "images/dtb.bin",
            "sched_features"    : "ENERGY_AWARE",
            "governor"          : "sched",
            "cgroup"            : "stune/",
            "boost"             : 60
        }
    ],

    "wloads" : {
        "test1" : {
            "type": "rt-app",
            "conf" : {
                // Example of "periodic" rt-app profile
                "class"  : "periodic",

                // The parameters expected by the specific RT-App class
                "params" : {
                    "duty_cycle_pct" :  2,
                    "duration_s"     :  5,
                    "period_ms"      : 10
                },

                // Number of tasks to generate:
                // big    : one per each big CPU
                // little : one per each little CPU
                // cpus   : one per each CPU
                // N:     : exactly N
                "tasks"   : "cpus",

                // The prefix for the name of each task
                "prefix"  : "task"
            }
//        },
//        "test2" : {
//            "type": "rt-app",
//            "conf" : {
//                // Example of "custom" rt-app profile
//                "class"  : "custom",
//                // The parameters expected by the specific RT-App class
//                "params" : "tests/eas/mp3.json"
//            }
        }
    },

    // Number of iterations for each workload
    "iterations" : 1

}
