{
    /* Devlib modules required by the experiments */
    "modules"  : ["cpufreq", "hwmon", "bl"],

    /* Binary tools required by the experiments */
    "tools"    : ["rt-app", "trace-cmd", "taskset", "perf"],

    /* FTrace events required by the experiments */
    /* Coment this section if you do not want to collect FTrace events while */
    /* the workload is executed */
    "ftrace"    : {
        "events" : [
            "cpu_idle",
            "cpu_capacity",
            "cpu_frequency",
            "sched_switch",
            "sched_tune_*",
            "sched_boost_*",
            "sched_wakeup*",
            "sched_load_avg_*",
            "sched_energy_diff",
            "sched_contrib_scale_f"
        ],
        "buffsize" : 10240
    },

    /* Set of platform configuraitons to test */
    "confs" : [
        {
            "tag"               : "noeas",
            "kernel"            : "/opt/git/kernel.org/arch/arm64/boot/Image",
            "dtb"               : "/opt/git/kernel.org/arch/arm64/boot/dts/arm/juno.dtb",
            "sched_features"    : "NO_ENERGY_AWARE",
            "cpufreq" : {
                "governor"    : "ondemand",
                "params"      : {
                    "sampling_rate" : 20000
                }
            }
	 /* "cgroup"            : "stune/", */
	 /* "boost"             : 10        */
        },
        {
            "tag"               : "eas",
            "kernel"            : "/opt/git/kernel.org/arch/arm64/boot/Image",
            "dtb"               : "/opt/git/kernel.org/arch/arm64/boot/dts/arm/juno.dtb",
            "sched_features"    : "ENERGY_AWARE",
            "cpufreq" : {
                "governor"  : "ondemand",
                "params"    : {
                    "sampling_rate" : 20000
                }
            }
	        // "cgroup"            : "stune/",
	        // "boost"             : 10
	 /* "cgroup"            : "stune/", */
	 /* "boost"             : 10        */
        }
    ],

    /* Set of workloads to run on each platform configuration */
    "wloads" : {
        "06_pct" : {
            "type": "rt-app",
            "conf" : {
                "class"  : "periodic",
                "params" : {
                    "duty_cycle_pct" :  6,
                    "duration_s"     : 30,
                    "period_ms"      :  2
                },
		"tasks"   : "cpus",
                "prefix"  : "task"
           }
        },
        "13_pct" : {
            "type": "rt-app",
            "conf" : {
                "class"  : "periodic",
                "params" : {
                    "duty_cycle_pct" : 13,
                    "duration_s"     : 30,
                    "period_ms"      :  2
                },
		"tasks"   : "cpus",
                "prefix"  : "task"
            }
        },
        "19_pct" : {
            "type": "rt-app",
            "conf" : {
                "class"  : "periodic",
                "params" : {
                    "duty_cycle_pct" : 19,
                    "duration_s"     : 30,
                    "period_ms"      :  2
                },
		"tasks"   : "cpus",
                "prefix"  : "task"
            }
        },
        "25_pct" : {
            "type": "rt-app",
            "conf" : {
                "class"  : "periodic",
                "params" : {
                    "duty_cycle_pct" : 25,
                    "duration_s"     : 30,
                    "period_ms"      :  2
                },
		"tasks"   : "cpus",
                "prefix"  : "task"
            }
        },
        "31_pct" : {
            "type": "rt-app",
            "conf" : {
                "class"  : "periodic",
                "params" : {
                    "duty_cycle_pct" : 31,
                    "duration_s"     : 30,
                    "period_ms"      :  2
                },
		"tasks"   : "cpus",
                "prefix"  : "task"
            }
        },
        "38_pct" : {
            "type": "rt-app",
            "conf" : {
                "class"  : "periodic",
                "params" : {
                    "duty_cycle_pct" : 38,
                    "duration_s"     : 30,
                    "period_ms"      :  2
                },
		"tasks"   : "cpus",
                "prefix"  : "task"
            }
        },
        "44_pct" : {
            "type": "rt-app",
            "conf" : {
                "class"  : "periodic",
                "params" : {
                    "duty_cycle_pct" : 44,
                    "duration_s"     : 30,
                    "period_ms"      :  2
                },
		"tasks"   : "cpus",
                "prefix"  : "task"
            }
        },
        "50_pct" : {
            "type": "rt-app",
            "conf" : {
                "class"  : "periodic",
                "params" : {
                    "duty_cycle_pct" : 50,
                    "duration_s"     : 30,
                    "period_ms"      :  2
                },
		"tasks"   : "cpus",
                "prefix"  : "task"
            }
        }
    },

    /* Number of iterations for each workload */
    "iterations" : 4,

    /* This must be the last entry */
    "__last__" : ""
}
