{
    /* Devlib modules to enable/disbale for all the experiments */
    "modules"         : [ "cpufreq" ],
    "exclude_modules" : [ ],

    /* Binary tools required by the experiments */
    "tools"    : ["rt-app"],

    /* Set of platform configuraitons to test */
    "confs" : [
        {
            "tag" : "prf",
            "cpufreq" : { "governor" : "performance" }
        },
        {
            "tag" : "pws",
            "cpufreq" : { "governor" : "powersave" }
        },
        {
            "tag"               : "odm",
            "cpufreq" : {
                "governor"    : "ondemand",
                "params"      : {
                    "sampling_rate" : 20000
                }
            }
        },
        {
            "tag" : "int",
            "cpufreq" : { "governor" : "interactive" }
        },
        {
            "tag" : "sch",
            "cpufreq" : { "governor" : "sched" }
        }
    ],

    /* Set of workloads to run on each platform configuration */
    "wloads" : {
        "p101_d1" : {
            "type": "rt-app",
            "conf" : {
                "class"  : "periodic",
                "params" : {
                    "duty_cycle_pct" :    1,
                    "duration_s"     :   10,
                    "period_ms"      :  101
                },
                "tasks"   : 1,
                "cpus"    : "bigs_first",
                "prefix"  : "task"
           }
        },
        "p1010_d1" : {
            "type": "rt-app",
            "conf" : {
                "class"  : "periodic",
                "params" : {
                    "duty_cycle_pct" :    1,
                    "duration_s"     :   10,
                    "period_ms"      : 1010
                },
                "tasks"   : 1,
                "cpus"    : "bigs_first",
                "prefix"  : "task"
           }
        },
        "p11_d10" : {
            "type": "rt-app",
            "conf" : {
                "class"  : "periodic",
                "params" : {
                    "duty_cycle_pct" :   10,
                    "duration_s"     :   10,
                    "period_ms"      :   11
                },
                "tasks"   : 1,
                "cpus"    : "bigs_first",
                "prefix"  : "task"
           }
        },
        "p110_d10" : {
            "type": "rt-app",
            "conf" : {
                "class"  : "periodic",
                "params" : {
                    "duty_cycle_pct" :   10,
                    "duration_s"     :   10,
                    "period_ms"      :  110
                },
                "tasks"   : 1,
                "cpus"    : "bigs_first",
                "prefix"  : "task"
           }
        },
        "p1100_d10" : {
            "type": "rt-app",
            "conf" : {
                "class"  : "periodic",
                "params" : {
                    "duty_cycle_pct" :   10,
                    "duration_s"     :   10,
                    "period_ms"      : 1100
                },
                "tasks"   : 1,
                "cpus"    : "bigs_first",
                "prefix"  : "task"
           }
        },
        "p39_d15" : {
            "type": "rt-app",
            "conf" : {
                "class"  : "periodic",
                "params" : {
                    "duty_cycle_pct" :   15,
                    "duration_s"     :   10,
                    "period_ms"      :   39
                },
                "tasks"   : 1,
                "cpus"    : "bigs_first",
                "prefix"  : "task"
           }
        },
        "p399_d15" : {
            "type": "rt-app",
            "conf" : {
                "class"  : "periodic",
                "params" : {
                    "duty_cycle_pct" :   16,
                    "duration_s"     :   10,
                    "period_ms"      :  399
                },
                "tasks"   : 1,
                "cpus"    : "bigs_first",
                "prefix"  : "task"
           }
        },
        "p14_d28" : {
            "type": "rt-app",
            "conf" : {
                "class"  : "periodic",
                "params" : {
                    "duty_cycle_pct" :   28,
                    "duration_s"     :   10,
                    "period_ms"      :   14
                },
                "tasks"   : 1,
                "cpus"    : "bigs_first",
                "prefix"  : "task"
           }
        },
        "p140_d28" : {
            "type": "rt-app",
            "conf" : {
                "class"  : "periodic",
                "params" : {
                    "duty_cycle_pct" :   28,
                    "duration_s"     :   10,
                    "period_ms"      :  140
                },
                "tasks"   : 1,
                "cpus"    : "bigs_first",
                "prefix"  : "task"
           }
        },
        "p1400_d28" : {
            "type": "rt-app",
            "conf" : {
                "class"  : "periodic",
                "params" : {
                    "duty_cycle_pct" :   28,
                    "duration_s"     :   10,
                    "period_ms"      : 1400
                },
                "tasks"   : 1,
                "cpus"    : "bigs_first",
                "prefix"  : "task"
           }
        },
        "p14_d35" : {
            "type": "rt-app",
            "conf" : {
                "class"  : "periodic",
                "params" : {
                    "duty_cycle_pct" :   35,
                    "duration_s"     :   10,
                    "period_ms"      :   14
                },
                "tasks"   : 1,
                "cpus"    : "bigs_first",
                "prefix"  : "task"
           }
        },
        "p140_d35" : {
            "type": "rt-app",
            "conf" : {
                "class"  : "periodic",
                "params" : {
                    "duty_cycle_pct" :   35,
                    "duration_s"     :   10,
                    "period_ms"      :  140
                },
                "tasks"   : 1,
                "cpus"    : "bigs_first",
                "prefix"  : "task"
           }
        },
        "p1400_d35" : {
            "type": "rt-app",
            "conf" : {
                "class"  : "periodic",
                "params" : {
                    "duty_cycle_pct" :   35,
                    "duration_s"     :   10,
                    "period_ms"      : 1400
                },
                "tasks"   : 1,
                "cpus"    : "bigs_first",
                "prefix"  : "task"
           }
        },
        "p21_d42" : {
            "type": "rt-app",
            "conf" : {
                "class"  : "periodic",
                "params" : {
                    "duty_cycle_pct" :   42,
                    "duration_s"     :   10,
                    "period_ms"      :   21
                },
                "tasks"   : 1,
                "cpus"    : "bigs_first",
                "prefix"  : "task"
           }
        },
        "p210_d42" : {
            "type": "rt-app",
            "conf" : {
                "class"  : "periodic",
                "params" : {
                    "duty_cycle_pct" :   42,
                    "duration_s"     :   10,
                    "period_ms"      :  210
                },
                "tasks"   : 1,
                "cpus"    : "bigs_first",
                "prefix"  : "task"
           }
        },
        "p2100_d42" : {
            "type": "rt-app",
            "conf" : {
                "class"  : "periodic",
                "params" : {
                    "duty_cycle_pct" :   42,
                    "duration_s"     :   10,
                    "period_ms"      : 2100
                },
                "tasks"   : 1,
                "cpus"    : "bigs_first",
                "prefix"  : "task"
           }
        }
    },

    /* Number of iterations for each workload */
    "iterations" : 10,

    /* This must be the last entry */
    "__last__" : ""
}

// vim :set tabstop=4 shiftwidth=4 expandtab
