{
    /* Devlib modules required by the experiments */
    "modules"  : ["cpufreq", "hwmon", "bl", "cgroups"],

    /* Binary tools required by the experiments */
    "tools"    : ["rt-app", "trace-cmd", "taskset", "cgroup_run_into.sh"],

    /* FTrace configuration */
    "ftrace" : {
        "events" : [
            "sched_switch",
            "sched_contrib_scale_f",
            "sched_load_avg_cpu",
            "sched_load_avg_task",
            "sched_tune_tasks_update",
            "sched_boost_cpu",
            "sched_boost_task",
            "sched_energy_diff",
            "cpu_frequency",
            "cpu_capacity"
        ],
        "buffsize" : 10240
    },

    /* Set of platform configurations to test */
    "confs" : [
        {
            "tag" : "noboost",
            "flags" : "ftrace",
            "cpufreq" : { "governor" : "sched" },
            "cgroups" : {
                "conf" : {
                    "schedtune" : {
                        "/"      : {"boost" :  0 },
                        "/stune" : {"boost" :  0 }
                    }
                },
                "default" : "/"
            }
        },
        {
            "tag" : "boost15",
            "flags" : "ftrace",
            "cpufreq" : { "governor" : "sched" },
	    "cgroups" : {
                "conf" : {
                    "schedtune" : {
                        "/"      : {"boost" :  0 },
                        "/stune" : {"boost" : 15 }
                    }
                },
                "default" : "/stune"
            }
        },
        {
            "tag" : "boost30",
            "flags" : "ftrace",
            "cpufreq" : { "governor" : "sched" },
	    "cgroups" : {
                "conf" : {
                    "schedtune" : {
                        "/"      : {"boost" :  0 },
                        "/stune" : {"boost" : 30 }
                    }
                },
                "default" : "/stune"
            }
        },
        {
            "tag" : "boost60",
            "flags" : "ftrace",
            "cpufreq" : { "governor" : "sched" },
	    "cgroups" : {
                "conf" : {
                    "schedtune" : {
                        "/"      : {"boost" :  0 },
                        "/stune" : {"boost" : 60 }
                    }
                },
                "default" : "/stune"
            }
        }

    ],

    /* Set of workloads to run on each platform configuration */
    "wloads" : {
        "mixprof" : {
            "type": "rt-app",
            "conf" : {
                "class"  : "profile",
                "params"  : {
                    "r5_10-60" : {
                        "kind"   : "ramp",
                        "params" : {
                            "start_pct" : 10,
                            "end_pct"   : 60,
                            "delta_pct" :  5,
                            "time_s"    :  1
                         }
                    }
                }
            },
            "loadref" : "LITTLE"
        }
    },

    /* Number of iterations for each workload */
    "iterations" : 1,

    /* This must be the last entry */
    "__last__" : ""
}

// vim :set tabstop=4 shiftwidth=4 expandtab
