name: test

# Run this workflow every time a new commit pushed to your repository
on:
  pull_request: null

  # To be able to manually trigger the job from GitHub UI
  workflow_dispatch:
      inputs:
        ref:
          description: 'git reference to clone'
          required: false
          default: 'main'

  # If someone pushes something to a branch on the repo directly. It is useful
  # to test new github actions
  push: null

jobs:
  # Set the job key. The key is displayed as the job name
  # when a job name is not provided
  test:
    # Name the Job
    name: test

    # Cancel current runs of the workflow if we trigger it again for the same
    # ref.
    concurrency:
      group: ${{ github.workflow }}-${{ matrix.os }}-${{ matrix.python-version }}-${{ github.ref }}
      cancel-in-progress: true


    # Set the type of machine to run on
    # https://github.com/actions/virtual-environments
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          #- ubuntu-18.04
          - ubuntu-20.04
        python-version:
          # Github seems to always block 3 jobs these days, so keep at most 3
          # versions there:
          - '3.7'
          - '3.8'
          - '3.11'

    # env:
      # GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:
      # Checks out a copy of your repository on the virtual machine
      - uses: actions/checkout@v2
        with:
          # Avoid a shallow clone, which breaks the check on external/
          # modification and and provides inaccurate doc
          fetch-depth: "0"
          ref: ${{ github.event.inputs.ref || github.sha }}

      # Install the python version specified in the matrix
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      # Add retries following suggestion in:
      # https://github.com/actions/runner-images/issues/6894
      - run: sudo sh -c 'echo "APT::Acquire::Retries=3;" >> /etc/apt/apt.conf.d/99retry-downloads'

      - run: sudo ./install_base.sh --install-all
      - run: echo "$(python3 --version)"
      - run: sudo chmod o+rx /sys/kernel/debug
      - run: bash ./tools/tests.sh
